


header{
    display: flex;
}
img{
    height: 300px;
}

div{
    width: 500px;
    height: 400px;
}

form{
    width: 171px;
    border: none;
    height: 120px;

}
ul{
    height: 100px;
    width: 170px;
}
span{
    width: 300px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
