*{
    font-family: Arial, Helvetica, sans-serif;
    
}






.enlaces a{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 3px;
    left: 1px;
    
}
#especial{
    color: orange;
}
#Ropa{
     font-weight: 600;

}
#Mujer{
    font-weight: 600;
}
#Mujer, #Hombre{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color: black;
}
aside{
    position: absolute;
    top: 10%;
    left: 0,5%;
}
h1, h5{
    text-align: center;
}
.inactivo{
 color: rgba(0,0,,0,0.4);
}
.activo{
    font-weight: 600;
}
.imagenes{
   width: 20%;
   margin: 40px 10px 40px 10px;


}
img{
    width: 50%;
   
}
.catalogo{
    display: flex;
    flex: wrap;
    justify-content: center;
}

h4{
    font-weight: 600;
    margin-left: 45%;
}
footer{
    justify-content: center;
    width: 100%;
    display: block;
    margin: auto;
}